.stats {
    display: flex;
    flex-direction: column;
    margin: 56px 15px;
    align-items: center;
    justify-items: center;
    margin-bottom: 237px;
    @include md {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 130px;
    }
    @include xl{
        position: relative;
        flex-direction: column;                 ;
        top: -540px;
        left: 600px;
        gap: 40px;
        width: 190px;
        height: 375px;
        margin-left: 96px;

    }
     &__number {
        font-size: 48px;
        font-weight: 700;
        margin: 0 32px;
        color: #172339;
        @include xl {
            margin: 0;
        }
    }
     &__description{
        font-size: 16px;
        letter-spacing: 2.5px;
        margin: 0;
        margin-bottom: 32px;
        color: #49566D;
     }
    &__wrap{
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       @include xl{
        justify-content: flex-end;
        align-items: flex-start;
       }
} 
    }
   